<div>
    <h2 id="page-heading">
        <span>Tablees</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tablee" [routerLink]="['/tablee/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Tablee
            </span>
        </button>
        <button id="jh-calendar" class="btn btn-primary float-right" [routerLink]="['/tablee/calendar-view']">
            <span >
            Calendar
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="tablees">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Number Of Seat</span></th>
            <th>Reservation Ids</th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tablee of tablees ;trackBy: trackId">
                <td><a [routerLink]="['/tablee', tablee.id, 'view' ]">{{tablee.id}}</a></td>
                <td>{{tablee.numberOfSeat}}</td>
                <td>
                    <div *ngFor="let reservation of tablee.reservations; trackBy: trackId">
                        <!-- <a [routerLink]="['../reservation', 'reservation.id', 'view']"> -->
                            {{reservation.id}}
                        <!-- </a> -->
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/tablee', tablee.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/tablee', tablee.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tablee/'+ tablee.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
