<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-reservation-heading">Create or edit a Reservation</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!reservation.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="reservation.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_reservationStart">Reservation Start</label>
                    <div class="d-flex">
                        <input id="field_reservationStart" type="datetime-local" class="form-control" name="reservationStart" [(ngModel)]="reservationStart"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_reservationEnd">Reservation End</label>
                    <div class="d-flex">
                        <input id="field_reservationEnd" type="datetime-local" class="form-control" name="reservationEnd" [(ngModel)]="reservationEnd"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="reservation.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_note">Note</label>
                    <input type="text" class="form-control" name="note" id="field_note"
                        [(ngModel)]="reservation.note" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_tablee">Tablee</label>
                    <select class="form-control" id="field_tablee" name="tablee" [(ngModel)]="reservation.tableeId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="tableeOption.id" *ngFor="let tableeOption of tablees; trackBy: trackTableeById">{{tableeOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
