<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="reservation">
            <h2><span>Reservation</span> {{reservation.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Reservation Start</span></dt>
                <dd>
                    <span>{{reservation.reservationStart}}</span>
                </dd>
                <dt><span>Reservation End</span></dt>
                <dd>
                    <span>{{reservation.reservationEnd}}</span>
                </dd>
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{reservation.name}}</span>
                </dd>
                <dt><span>Note</span></dt>
                <dd>
                    <span>{{reservation.note}}</span>
                </dd>
                <dt><span>Tablee</span></dt>
                <dd>
                    <div *ngIf="reservation.tableeId">
                        <a [routerLink]="['/tablee', reservation.tableeId, 'view']">{{reservation.tableeId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/reservation', reservation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
